################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/.vs/BestFit
/src/BestFit.API/bin/Debug/net8.0
/src/BestFit.API/obj
/src/BestFit.Application/obj
/src/BestFit.Domain/obj
/src/BestFit.Infrastructure/obj
/src/.vs/ProjectEvaluation
/src/BestFit.Application/bin/Debug/net8.0
/src/BestFit.Domain/bin/Debug/net8.0
/src/BestFit.Infrastructure/bin/Debug/net8.0
/src/BestFit.UI/bin/Debug
/src/BestFit.UI/obj/.cache
/src/BestFit.UI/obj/Debug/net8.0-android/android/assets/BestFit.UI.dll
/src/BestFit.UI/obj/Debug/net8.0-android/android/assets/_Microsoft.Android.Resource.Designer.dll
/src/BestFit.UI/obj/Debug/net8.0-ios/BestFit.UI.AssemblyInfo.cs
/src/BestFit.UI/obj/Debug/net8.0-android/android/bin/com.companyname.bestfit.ui.apk
/src/BestFit.UI/obj/Debug/net8.0-android/android_debug_keystore.flag
/src/BestFit.UI/obj/Debug/net8.0-android/BestFit.UI.AssemblyInfo.cs
/src/BestFit.UI/obj/Debug/net8.0-android/BestFit.UI.AssemblyInfoInputs.cache
/src/BestFit.UI/obj/Debug/net8.0-android/BestFit.UI.assets.cache
/src/BestFit.UI/obj/Debug/net8.0-android/BestFit.UI.csproj.AssemblyReference.cache
/src/BestFit.UI/obj/Debug/net8.0-android/devices.cache
/src/BestFit.UI/obj/Debug/net8.0-android/upload.flag
/src/BestFit.UI/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/apphost.exe
/src/BestFit.UI/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/BestFit.UI.AssemblyInfo.cs
/src/BestFit.UI/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/BestFit.UI.AssemblyInfoInputs.cache
/src/BestFit.UI/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/BestFit.UI.csproj.AssemblyReference.cache
/src/BestFit.UI/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/XamlSaveStateFile.xml
/src/BestFit.UI/obj/Debug/net8.0-maccatalyst/BestFit.UI.AssemblyInfo.cs
/src/BestFit.UI/obj/Debug/net8.0-maccatalyst/BestFit.UI.AssemblyInfoInputs.cache
/src/BestFit.UI/obj/Debug/net8.0-ios/BestFit.UI.AssemblyInfoInputs.cache
/src/BestFit.UI/BestFit.UI/bin/Debug/net9.0-android
/src/BestFit.UI/BestFit.UI/obj
/src/BestFit.UI/BestFit.UI.Shared/bin/Debug/net9.0
/src/BestFit.UI/BestFit.UI.Shared/obj/Debug/net9.0
/src/BestFit.UI/BestFit.UI.Shared/obj
/src/BestFit.UI/BestFit.UI.Web/bin/Debug/net9.0
/src/BestFit.UI/BestFit.UI.Web/obj
