################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/.vs/BestFit
/src/BestFit.API/bin/Debug/net8.0
/src/BestFit.API/obj
/src/BestFit.Application/obj
/src/BestFit.Domain/obj
/src/BestFit.Infrastructure/obj
/src/.vs/ProjectEvaluation
/src/BestFit.Application/bin/Debug/net8.0
/src/BestFit.Domain/bin/Debug/net8.0
/src/BestFit.Infrastructure/bin/Debug/net8.0
/src/BestFit.UI/bin/Debug
/src/BestFit.UI/obj/.cache
/src/BestFit.UI/obj/Debug/net8.0-android/android/assets/BestFit.UI.dll
/src/BestFit.UI/obj/Debug/net8.0-android/android/assets/_Microsoft.Android.Resource.Designer.dll
